Source: fuse-emulator
Section: otherosfs
Priority: optional
Maintainer: Alberto Garcia <agarcia@igalia.com>
Build-Depends: debhelper, cdbs, pkg-config, sharutils, libpng12-dev, libasound2-dev, libxml2-dev, libspectrum-dev, libbz2-dev, zlib1g-dev, libglib2.0-dev, libsdl1.2-dev, libsamplerate0-dev
Standards-Version: 3.6.1
Homepage: http://fuse-emulator.sourceforge.net/

Package: fuse-emulator
Architecture: any
Depends: ${shlibs:Depends}
Description: The Free Unix Spectrum Emulator
 Fuse is a Sinclair ZX Spectrum emulator. It supports several models
 (including 16K/48K/128K/+2/+2A/+3 and some Russian clones), with
 quite faithful emulation of the display and sound. It can load Z80,
 SZX and SNA snapshots, TAP and TZX virtual-tape files, MDR microdrive
 images and DSK floppy disk images, among many others.
