#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	rm -f ui/gtk/options.c
	convert winfuse.ico winfuse.png 2> /dev/null || true
	convert winfuse-0.png -scale 64x64 fuse.png
	rm -f winfuse-?.png
	touch aclocal.m4 Makefile.in configure config.h.in
	dh_auto_configure -- --with-roms-dir=/usr/share/spectrum-roms \
		--with-x
	dh_auto_build
	mv fuse fuse-gtk
	dh_auto_clean
	dh_auto_configure -- --with-roms-dir=/usr/share/spectrum-roms \
		--with-sdl
	dh_auto_build
	cp fuse fuse-sdl

override_dh_clean:
	rm -f fuse.png
	dh_clean
